.modal {
  position: fixed;
  bottom: 10%;
  left: 55%;
  transform:translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  text-align: left;
  background: #ffffff;
  color: #f11b1b;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  padding: 5px;
}

.text {
  padding: 5px;
}

.button {
  align-self: flex-start;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}