@mixin clearButtonStyle {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.profileLeftBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.userImage {
    border-radius: 5px;
    margin-bottom: 10px;
}

.uploadPhoto {
    margin-bottom: 10px;
}

.profileInfoSection {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.changeStatus {
    color: #9d9c9d;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        color: #646364;
    }
}

.contactItem {
    margin-top: 2px;
}

.contactLink {
    text-decoration: none;
    color: #000000;
    &:hover {
        cursor: pointer;
        color: #138eec;
    }
}

.clearInputStyle {
    padding: 5px;
    outline: none;
    -moz-appearance: none;
    border: 1px solid black;
    width: 100%;
}

.buttonSave {
    @include clearButtonStyle;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #5181b8;
    &:hover {
        background-color: #6c99cd;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.editModeButton {
    margin-bottom: 10px;
}

.buttonAddPost {
    @include clearButtonStyle;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #5181b8;
    &:hover {
        background-color: #6c99cd;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.textareaContainer {
    display: flex;
}

.textarea {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    outline: none;
    -moz-appearance: none;
    resize: none;
    overflow: hidden;
    font-size: 14px;
}

.errorTextarea {
    border: 1px solid red;
}

.errorLength {
    color: red;
}

.postPhotoAndName {
    display: flex;
    align-items: center;
}

.removePost {
    align-self: flex-start;
    color: #9d9c9d;
}

.postUserName {
    flex-grow: 2;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.postText {
    padding: 10px 0;
    border-bottom: 1px solid #e7e8ec;
    margin-bottom: 5px;
}
