.profileLeftBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.userImage {
    border-radius: 5px;
    margin-bottom: 10px;
}

.uploadPhoto {
    margin-bottom: 10px;
}

.input {
    margin: 10px 0 !important;

}

.profileInfoSection {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.changeStatus {
    color: #9d9c9d;
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: #138eec;
    }
}

.contactItem {
    margin-top: 2px;
}

.contactLink {
    text-decoration: none;
    color: #000000;
    &:hover {
        cursor: pointer;
        color: #138eec;
    }
}

.editModeButton {
    margin-bottom: 10px;
}

.textareaContainer {
    display: flex;
}

.postPhotoAndName {
    display: flex;
    align-items: center;
}

.removePost {
    align-self: flex-start;
    color: #9d9c9d;
}

.postUserName {
    flex-grow: 2;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.postText {
    padding: 10px 0;
    border-bottom: 1px solid #e7e8ec;
    margin-bottom: 5px;
}
