.textAreaBlock {

}

.textArea.error {
    border: 1px solid red;
}

.textArea.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.summaryFormError {
    border: 1px solid red;
    color: red;
    padding: 10px;
}