.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.post {
    resize: none;
    font-size: 14px;
}

.errorLength {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}

.errorTextarea {
    border: 2px solid red;
}