.header {
    grid-area: h;
    background-color: #26a69a;
}
.header img {
    width: 70px;
}

.login {
    float: right;
    margin: 10px;
}

.login a {
    color: white;
}

.userPhoto {
    width: 30px;
    background-color: #212121;
}