.descriptionBlock {
    padding: 10px;
}

.userImage {
    max-width: 200px;
}

.contactValue {
    padding-left: 10px;
}

.contactValue input {
    margin-left: 10px;
}

.contactValue span {
    margin-left: 10px;
}

.formError {
    color: red;
    margin-top: 5px;
}