.loginBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.errorInput {
    border: 1px solid red;
}

.rememberMe {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.button {
    width: 100px;
    align-self: flex-end;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #5181b8;
    &:hover {
        background-color: #6c99cd;
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.captchaImage {
    margin-bottom: 10px;
}

.formError {
    color: red;
}

.testAcc {

}