.mainContainer {
    padding: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #4a76a8;
    padding: 10px;
    margin-bottom: 10px;
}

.mainBlock {
    display: flex;
    max-width: 1000px;
}

.nav {
    flex-basis: 150px;
    min-width: 150px;
}

.content {
    flex-basis: 800px;
    flex-grow: 2;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}