.container {
    background-color: #ffffff;
    border-top: 1px solid #e7e8ec;
    border-bottom: 1px solid #e7e8ec;
}

.link {
    text-decoration: none;
    color: black !important;
}

.block {
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid #e7e8ec;
    &:hover {
        background-color: #dbdbde;
    }
}

.userNameAndMessage {
    margin-left: 15px;
    padding-right: 5px;
}

.userName {
    font-weight: bold;
    padding-top: 10px;
}

.messageContainer {
    padding: 5px 0;
}