.block {
    margin: 10px auto;
    padding: 0 15px;
}

.userNameAndMessage {
    margin-left: 15px;
}

.userName {
    font-weight: bold;
}

.textareaContainer {
    display: flex;
    padding: 15px;
}

.removeMessage {
    align-self: flex-start;
    color: #9d9c9d;
}
